<div class="ui small inverted menu">
  <div class="ui container">
    <%= link_to root_path, class: "item" do %>
      Chatroom
    <% end %>
    <a class="item">
      Messages
    </a>
    <div class="right menu">
      <div class="ui dropdown item">
        Account <i class="dropdown icon"></i>
        <div class="menu">
          <%= link_to login_path, class: "item" do %>
            Log in
          <% end %>
          <a class="item">Log out</a>
          <a class="item">Sign up</a>
        </div>
      </div>
      <div class="item">
          <div class="ui primary button">Sign Up</div>
      </div>
    </div>
  </div>
</div>
